@import "global.css";

.container-grid {
  width: 90vw;
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(4, 20vw);
  gap: 16px;
  justify-content: center;
}

.product {
  position: relative;
  padding: 6px;
  background-color: var(--primary);
  border-radius: 4px;
}

.product-img {
  width: 100%;
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-origin: center;
  margin-bottom: 8px;
}

.product-title {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  color: #ffffff;
}

.product-brand {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  color: var(--brand);
}

.product-description {
  margin: 6px auto;
  font-family: "Roboto", sans-serif;
  color: white;
}

.product-actions {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 8px auto;
}

.product-price {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: var(--cart);
}

.add-to-cart-btn,
.edit-item {
  background-color: var(--secondary);
  border: none;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.add-to-cart-icon,
.edit-item-icon {
  color: var(--primary);
  padding: 8px 16px;
}

.add-to-cart-btn:hover {
  background-color: #f7fd8a;
}

.add-to-cart-btn:focus {
  background-color: #f7fd8a;
}
.add-new-item {
  position: fixed;
  width: 40px;
  height: 40px;
  bottom: 20px;
  right: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
}

#addItemModalLabel {
  color: white;
}

.btns {
  margin-top: 20px;
}
.add-new-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
  transition: background-color 300ms ease;
}

.add-new-item-icon {
  color: var(--secondary);
}

.del-item {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  color: var(--secondary);
  background-color: var(--close);
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
